:root {
  --input-border-color: #6ab5ff;
  --ao3-header-color: #30679e;
  --ao3-accent-color: #5998d6;
  --ao3-accent-color-hover: #5897d4;
  --ao3-accent-color-light: #9ecfff;
  --background-color: #1c1b22;
  --background-color-dark: #151319;
  --box-background-color: #16151b;
  --box-border-color: #78777d;
  --box-border-color-alt: #c2d2df;
  --box-border-color-subtle: #454547;
  --button-background-color: #2b2a33;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #4e4e5e;
  --tag-bubble-color-visited-hover: #5b5b66;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #23222b;
}
