:root {
  --input-border-color: #6bff71;
  --ao3-header-color: #2a892d;
  --ao3-accent-color: #58d55c;
  --ao3-accent-color-hover: #59d45d;
  --ao3-accent-color-light: #9effa1;
  --background-color: #1b221b;
  --background-color-dark: #141a14;
  --box-background-color: #141a15;
  --box-border-color: #787d78;
  --box-border-color-alt: #c3dfc4;
  --box-border-color-subtle: #444644;
  --button-background-color: #29322a;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #4f5f4f;
  --tag-bubble-color-visited-hover: #5b675b;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #222b22;
}
