:root {
  // --input-border-color: #ff6b6b;
  // --ao3-header-color: #9c3030;
  // --ao3-accent-color: #d55858;
  // --ao3-accent-color-hover: #d45959;
  // --ao3-accent-color-light: #ff9e9e;
  --background-color: #000000;
  --background-color-dark: #000000;
  --card-background-color: #000000;
  // --box-background-color: #1a1414;
  // --box-border-color: #7d7878;
  // --box-border-color-alt: #dfc3c3;
  --box-border-color-subtle: #000000;
  --button-background-color: #1f1f1f;
  // --button-current-color: #0b0b0b;
  // --button-highlight-color: #4c3e3e;
  // --tag-bubble-color-visited-hover: #675b5b;
  // --text-focus-color: #ddd;
  // --text-color: #eee;
  // --text-link-color: #fff;
  // --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #1f1f1f;
}

// :root {
//   // --input-border-color: #ff6b6b;
//   // --ao3-header-color: #9c3030;
//   // --ao3-accent-color: #d55858;
//   // --ao3-accent-color-hover: #d45959;
//   // --ao3-accent-color-light: #ff9e9e;
//   --background-color: #0a0a0a;
//   --background-color-dark: #000000;
//   // --box-background-color: #1a1414;
//   // --box-border-color: #7d7878;
//   // --box-border-color-alt: #dfc3c3;
//   --box-border-color-subtle: #1d1c1c;
//   // --button-background-color: #322929;
//   // --button-current-color: #0b0b0b;
//   // --button-highlight-color: #4c3e3e;
//   // --tag-bubble-color-visited-hover: #675b5b;
//   // --text-focus-color: #ddd;
//   // --text-color: #eee;
//   // --text-link-color: #fff;
//   // --text-link-visited-color: #bfbfbf;
//   // --textbox-background-color: #2b2222;
// }
