:root {
  --input-border-color: #ffa76b;
  --ao3-header-color: #9c6230;
  --ao3-accent-color: #d69158;
  --ao3-accent-color-hover: #d49059;
  --ao3-accent-color-light: #ffc99e;
  --background-color: #221e1b;
  --background-color-dark: #1a1714;
  --box-background-color: #1a1714;
  --box-border-color: #7d7a78;
  --box-border-color-alt: #dfd1c3;
  --box-border-color-subtle: #464544;
  --button-background-color: #322d29;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #4c453e;
  --tag-bubble-color-visited-hover: #67615b;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #2b2622;
}
