:root {
  --input-border-color: #ff6bcd;
  --ao3-header-color: #9c3071;
  --ao3-accent-color: #d658a8;
  --ao3-accent-color-hover: #d457a6;
  --ao3-accent-color-light: #ff9edb;
  --background-color: #221b20;
  --background-color-dark: #1a1418;
  --box-background-color: #1a1418;
  --box-border-color: #7d787b;
  --box-border-color-alt: #dfc3d6;
  --box-border-color-subtle: #464445;
  --button-background-color: #32292f;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #4c3e47;
  --tag-bubble-color-visited-hover: #675b63;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #2b2228;
}
