:root {
  --input-border-color: #a76bff;
  --ao3-header-color: #62309c;
  --ao3-accent-color: #9a58d6;
  --ao3-accent-color-hover: #9959d4;
  --ao3-accent-color-light: #c99eff;
  --background-color: #1f1b22;
  --background-color-dark: #17141a;
  --box-background-color: #17141a;
  --box-border-color: #7b787d;
  --box-border-color-alt: #d1c3df;
  --box-border-color-subtle: #454446;
  --button-background-color: #2e2932;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #473e4c;
  --tag-bubble-color-visited-hover: #615b67;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #27222b;
  --tag-character-border: #337e00;
  --tag-character-fill: #337e0033;
  --tag-relationship-border: #0e60b0;
  --tag-relationship-fill: #0e60b033;
  --editor-focus-background: #f3efec;
  --on-accent-color: #ffffff;
  --card-background-color: #17141a;
}
