:root {
  --input-border-color: #6be0d2;
  --ao3-header-color: #30837a;
  --ao3-accent-color: #58c2b4;
  --ao3-accent-color-hover: #57c0b2;
  --ao3-accent-color-light: #9effef;
  --background-color: #1b2221;
  --background-color-dark: #141a19;
  --box-background-color: #141a19;
  --box-border-color: #787d7c;
  --box-border-color-alt: #c3dfda;
  --box-border-color-subtle: #444646;
  --button-background-color: #293231;
  --button-current-color: #0b0b0b;
  --button-highlight-color: #3e4c4a;
  --tag-bubble-color-visited-hover: #5b6765;
  --text-focus-color: #ddd;
  --text-color: #eee;
  --text-link-color: #fff;
  --text-link-visited-color: #bfbfbf;
  --textbox-background-color: #222b2a;
}
